body{

	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;

	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.75),
			rgba(0, 88, 225, 0.45)
		),
		url(../images/matrix2.jpg);
	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

}

main{

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.container {

	display: flex;
	align-items: center;
	width: 75%;

}

.overview {

	padding: 3rem;

}

.fullName {

	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;

}

.jobTitle {

	color:#ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;

}

hr {

	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
	
}


.description {

	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;

}

.works, .skills {

	margin-top: 1.5rem;
	margin-bottom: 3rem; 

}

.works h2, .skills h2 {

	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;

}

.works img {

	width: 60px;
	height: 60px;
	object-fit: cover;

}

.socialMedia a {
	
	color: #efefef;
	margin: 0 .5rem;
	font-size: 2.5rem;
	opacity: .75;

}

.socialMedia a:hover {

	opacity: 1;

}

.ad {

	margin: .5rem;
	font-size: 1rem;

}

.imageContainer {

	width: 100%;
	padding: 3rem 0;

}

.imageContainer img {

	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;

}

/* To make layout responsive for mobile devices*/

@media	(max-width: 980px){

	.container {

		flex-direction: column;

	}

	.imageContainer {

		width: 100%;
		padding: 3rem 0 0;

	}

	.overview {

		order: 1;
		padding: 3rem 0;

	}

	main{

		background: 
			linear-gradient(
				rgba(0, 255, 222, 0.45),
				rgba(0, 88, 255, 0.45)
				)
			url(../images/matrix2.jpg);
		background-repeat: no-repeat;
	}

	.fullName, .jobTitle, .description, .works, .ad {

		text-align: center;

	}

	.jobTitle {

		font-weight: bolder;

	}


	hr {

		margin: auto;

	}

	.socialMedia{

		text-align: center;
		margin-top: 3rem;

	}

}